footer{
  background-color: #495E57;
  color: #FFFFFF;
}

.container {
   display: grid;
   grid-template-columns: repeat(12, 7%);
   grid-auto-rows: minmax(auto, auto);
   column-gap: 20px;
   row-gap: 15px;
}
nav{
  grid-column-start: 7;
  grid-row-start: 1;
  grid-column-end: end;
  font-family: 'Markazi Text';
  font-size: 32px;
  color: #495E57;
}
nav li{
  float: left;
}
nav li a{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
nav ul{
  list-style-type: none;
  overflow: hidden;
}

header{
  grid-column-start: 2;
  grid-row-start: 1;
  padding-top: 33%;
  padding-left: 30%;
}
footer{
  grid-column-start:1;
  grid-column-end: end;
}
Main{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row-end: end;
}
.HeroSection{
padding: 30px 220px 30px 220px;
background-color: #495E57;
display: flex;
}
.HeroSection h1 {
  color:#F4CE14;
  font-size: 64px;
  font-family: 'Markazi Text';
  letter-spacing: 4px;
  margin: 0px;
  font-weight: bold;
}
.hsection_one{
  width: 50%;
}
.hsection_two{
  width: 50%;
}
.HeroSection h3{
  color: white;
  font-family: 'Karla';
  line-height: 20px;
  font-size: 24px;
}
.HeroSection p{
  color: white;
  font-family: 'Karla';
  font-size: 18px;
}
.HeroSection button{
  background-color: #F4CE14;
  font-size: large;
  padding: 20px 110px;
  font-family: 'Karla';
  border-radius: 10px;
  font-weight: bold;
  margin-top: 12%;
  border: none;
}
.HeroSection button:hover{
  background-color: white;
  color: #F4CE14;
  box-shadow:inset 0px 0px 0px 1px #F4CE14;
  transition: 0.7s;

}
.HeroSection img{
  width: 32%;
  height: 100%;
  border-radius: 10px;
  margin-left: 52%;
  box-shadow: 2px 1px 1px #f4cf1486;
}

.Highlights{
  padding: 30px 220px 30px 220px;
}
.Highlights h1{
  font-size: 64px;
  font-family: 'Markazi Text';
  letter-spacing: 4px;
  margin: 0px;
  font-weight: bold;
}
.high1{
  display: flex;
  justify-content: space-between
}
.high1 button{
  border: none;
  margin-right: 8%;
  width: 15%;
  background-color: white;
  color:black;
  border-radius:10px;
  font-family: 'Karla';
  font-size: larger;
  box-shadow: inset 0px 0px 0px 1px black;
}
.high1 button:hover{
  background-color: #495E57;
  color: white;
  box-shadow:  0px 0px 0px 1px white;
  transition: 0.7s;
}
.high2{
  display: flex;
  margin: 10% 0% 0% 0%;
}
.high2 card:last-child{
  margin: 0%;
}
.high2 card{
  background-color: #E4E4E4;
  border-radius: 10px;
  margin: 0% 18% 0% 0%;
  width: 320px;
  height: 500px;

}
.high2 card img{
  width: 320px;
  height: 213px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.high2 card h2{
  font-size: 48px;
  padding: 0px 10px;
  font-family: 'Markazi Text';
  margin:0px;
}
.high2 card h4{
  font-size:28px;
  font-weight: 600;
  color: #F4CE14;
  padding: 0px 10px;
  font-family: 'Karla';
  margin:0px;
}
.high2 card p{
  padding: 10px;
  font-family: 'Karla';
}
.high2 card a{
  padding: 10px;
  font-family: 'Karla';
  font-size: 18px;
  font-weight: bold;
}
.SpecialName{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.DescriptionCard{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.Testimonials{
  padding: 130px 220px 130px 220px;
  background-color: #6666666b;
}
.Testimonials h1{
  font-size: 64px;
  font-family: 'Markazi Text';
  letter-spacing: 4px;
  margin: 0px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-bottom: 100px;
}
.TestCards{
  display:flex;
  justify-content: space-around;
}
.Testimonials card{
  height: 150px;
  width: 210px;
  border-radius: 10px;
  background-color: #E4E4E4;
  display: flex;
  flex-wrap: wrap;
  animation:flow 4s infinite ease-in ;
}

@keyframes flow{
  0%   {background-color: #fff6c8;}
  50%  {background-color:#fae88f;}
  100% {background-color:  #fff6c8;}
}

.TestCards img{
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius:50% ;
}
.Testimonials h4{
  padding: 0px 10px 10px 10px;
  font-family: 'Karla';
  font-size: 18px;
}
.Testimonials p{
  padding: 10px;
  font-family: 'Karla';
}